/packages/*/pkg
/packages/*/src
/packages/*/*.pkg.tar.xz
/packages/dwm-osandov/dwm
/packages/st-osandov/st
/packages/supavolumed-git/supavolumed
/packages/verbar-git/verbar
/packages/xfce4-notifyd-osandov/*.tar.bz2
