/packages/dwm-osandov/dwm
/packages/dwm-osandov/pkg
/packages/dwm-osandov/src
/packages/dwm-osandov/*.pkg.tar.xz
/packages/st-osandov/st
/packages/st-osandov/pkg
/packages/st-osandov/src
/packages/st-osandov/*.pkg.tar.xz
/packages/supavolumed-git/supavolumed
/packages/supavolumed-git/pkg
/packages/supavolumed-git/src
/packages/supavolumed-git/*.pkg.tar.xz
/packages/verbar-git/verbar
/packages/verbar-git/pkg
/packages/verbar-git/src
/packages/verbar-git/*.pkg.tar.xz
